<div class="mx-auto w-full">

  <%= render 'progress', steps: 3, step_title: 'CONTACT INFORMATION', current_step: 2 %>

  <%= form_with(model: @user, class: "contents", method: 'put', url: user_path) do |form| %>

    <%= form.text_field :status, value: 'graduation', hidden: true %>

    <div class="flex">
      <div class="mr-2">
        <%= form.label :first_name, class: 'required' %>
        <%= form.text_field :first_name, value: @user.first_name, class: "block rounded-md bg-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        <%= render 'form_errors', messages: @user.errors.messages_for(:first_name) %>
      </div>

      <div class="ml-2">
        <%= form.label :last_name, class: 'required' %>
        <%= form.text_field :last_name, value: @user.last_name, class: "block rounded-md bg-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        <%= render 'form_errors', messages: @user.errors.messages_for(:last_name) %>
      </div>
    </div>

    <div class="my-5">
      <%= form.label :phone_number, class: 'required' %>
      <%= form.text_field :phone_number, value: @user.phone_number, class: "block rounded-md bg-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= render 'form_errors', messages: @user.errors.messages_for(:phone_number) %>
    </div>

    <div class="my-5">
      <%= form.label :email, class: 'required' %>
      <%= form.text_field :email, value: @user.email, class: "block rounded-md bg-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= render 'form_errors', messages: @user.errors.messages_for(:email) %>
    </div>

    <div class="flex justify-between">
      <%= link_to 'Previous', start_user_path(@user), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= form.submit "Next", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>


</div>
