<div class="mx-auto md:w-2/3 w-full">
  <%= form_with(model: @user, class: "contents", method: 'put', url: user_path) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :status, value: 'contact', hidden: true %>

    <%= form.collection_radio_buttons :goal_id, @goals, :id, :text %>

    <div class="flex justify-end">
      <%= form.submit "Next", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
  </div>
